<router-outlet></router-outlet>

<!-- Buttons -->
<div class="px-2 py-4">
	<app-button text="Simple teal button"></app-button>
	<app-button text="Outline teal button" type="outline"></app-button>
	<app-button text="Simple red button" color="red"></app-button>
	<app-button text="Outline red button" type="outline" color="red"></app-button>
	<app-button text="Simple indigo button" color="indigo"></app-button>
	<app-button text="Outline indigo button" type="outline" color="indigo"></app-button>
</div>

<!-- Grid -->
<app-three-columns-grid></app-three-columns-grid>

<!-- Colorful note -->
<div class="px-4 py-2">
	<colorful-note color="red" title="Note" description="Lorem ipsum dolor sit amet..."></colorful-note>
	<colorful-note color="blue" title="Note" description="Lorem ipsum dolor sit amet..."></colorful-note>
	<colorful-note color="green" title="Note" description="Lorem ipsum dolor sit amet..."></colorful-note>
	<colorful-note color="yellow" title="Note" description="Lorem ipsum dolor sit amet..."></colorful-note>
</div>

